* {
  font-family: "Noto Sans KR", sans-serif;
}

.classBoard .header {
  position: fixed;
  background-color: white;
  top: 0;
}

.classBoard {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.commentBoard {
  display: flex;
}
.red {
  color: red;
}
.goal-desc {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
}
.class-desc {
  font-size: 14px;
  color: grey;
  line-height: 20px;
}
.button-black {
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  font-size: 13px;
  justify-content: center;
  width: 120px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.button-inactive {
  border: 1px solid;
  border-radius: 20px;
  background-color: grey;
  color: white;
  font-size: 2rem;
  display: flex;
  font-size: 13px;
  justify-content: center;
  width: 120px;
  padding: 10px;
  margin: 10px;
}

.message {
  color: grey;
  font-size: 10px;
  padding: 0 10px 20px 10px;
}

#Progress {
  width: 100%;
  border-radius: 30px;
  background-color: lightgrey;
}
